
<mat-card>
    <mat-card-title data-cy="auth-title">{{ title }}</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <p class="error" *ngIf="error">
                {{ error }}
            </p>
            <p>
                <mat-form-field>
                    <input 
                        type="text" 
                        matInput
                        placeholder="Username"
                        formControlName="email"
                        data-cy="email"
                    />
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input 
                        type="password" 
                        matInput
                        placeholder="Password"
                        formControlName="password"
                        data-cy="password"
                    />
                </mat-form-field>
            </p>
            <div class="button">
                <button
                    type="submit"
                    mat-button
                    data-cy="submit-login">
                    {{ title }}
                </button>
            </div>
            <p 
                class="link"
                *ngIf="title == 'Login'"
                [routerLink]="['register']"
                routerLinkActive="router-link-active"
            >
                Create account
            </p>
            <p 
                class="link"
                *ngIf="title == 'Register'"
                [routerLink]="['']"
                routerLinkActive="router-link-active"
            >
                Log in
            </p>
        </form>
    </mat-card-content>
</mat-card>